@font-face {
  font-family: 'Mont-Heavy';
  src:  url('/fonts/Mont-Heavy.woff2') format('woff2'),
        url('/fonts/Mont-Heavy.woff') format('woff');
}

body {
  padding: 0;
  margin: 0;
  font-family: Verdana, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
  box-sizing: border-box;
}