.firstname, .username {
  margin: 0;
  padding: 0;
}

.main {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr ;
  grid-template-rows: 1fr 3fr ;
  height: 100vh;
  margin: 0;
  padding: 0;
  color: white;
  background-color: #151d27;
}

.main > div {
  borxder: 3px solid red;
}

.leftBar { 
  grid-area: 1 / 1 / 3 / 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 1em 2em;
}
svg.logo {
  fill: white;
  height: 40px;
  transform: rotate(180deg);
}
@keyframes piou-piou {
  0% { transform: rotate(180deg) }
  50% { transform: rotate(0deg); }
  100% { transform: rotate(-180deg) }
}
svg.logo:hover {
  animation: piou-piou 1s linear infinite;
}
.userContainer {
  widsth: 100%;
}
.user {
  display: flex;
  gap: 1em;
  margin-bottom: 1em;
}
.profilePic {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.user > div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.logOutButton {
  clear: left;
}

.middleBarUp {
  padding: 1em;
}

.profilePic {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.tweetsContainer {
  background-colsor: blanchedalmond;
}

.rightBar { 
  grid-area: 1 / 3 / 3 / 4;
}

.username, .trendTweetCount {
  color: rgb(78, 76, 76)
}

.tweetInfos {
  display: flex;
  flex-direction: row;
}

.trendsContainer {
  background-color: #1b222d;
}

.newTweet {
  width: 90%;
  background-color: none;
  justify-content: right;
}




.icon {
  fill: white;
}

.newTweetParameters {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;

}