
.main {
  margin: 0;
  padding: 0;
  height: 100vh;
  /*background-color: #161D28;*/
  display: grid;
  grid-template-columns: 1fr 2fr 1fr ;
  grid-template-rows: 1fr 3fr ;
  background-color: #161D28;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.main > div {
  border: 3px solid red;
}

.leftBar { 
  grid-area: 1 / 1 / 3 / 2;
  display: flex;
  justify-content: space-around;
}

.rightBar { 
  grid-area: 1 / 3 / 3 / 4;
}

.home, .trends, .firstname {
  color: white;
}
