.main {
  background-color: #161D28;
  display: grid;
  grid-template-columns: repeat(1fr, 4) ;
  grid-template-rows: repeat(1fr, 5) ;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.leftBar { 
  grid-area: 1 / 1 / 6 / 2;
}

.middleBar { 
  grid-area: 1 / 2 / 6 / 4;
}

.rightBar { 
  grid-area: 1 / 4 / 6 / 5;
}