.main {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 2fr 3fr;
    justify-content: center;
    align-items: stretch;
    min-height: 100vh;
    padding: 0;
}

.bg {
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('/images/background.png');
}
.bg svg {
    width: 70%;
    height: auto;
    fill: white;
    transform: rotate(180deg);
}
.bg svg:hover {
    animation: piou-piou 1s linear infinite;
}
@keyframes piou-piou {
    0% { transform: rotate(180deg) }
    50% { transform: rotate(0); }
    100% { transform: rotate(180deg) }
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 1em;
    color: white;
    background-color: #161d28;
}
.container h1, .container h2 {
    font-family: Mont-Heavy;
    margin: 0.5em 0;
    padding: 0;
}
.container h1 {
    font-size: 5em;
}
.container h2 {
    font-size: 2em;
}

.containerButtons {
    display: flex;
    flex-direction: column;
    width: auto;
    margin: 2em auto 0 0;
    font-weight: bold;
}

.containerLogin {
    background-color: #161d28;
}
@keyframes piou-piou2 {
    0% { transform: rotate(180deg) }
    50% { transform: rotate(0deg); }
    100% { transform: rotate(-180deg) }
}
.containerLogin svg {
    width: 5em;
    height: auto;
    fill: white;
    transform: rotate(180deg);
}
.containerLogin svg:hover {
    animation: piou-piou2 1s linear infinite;
}
